BasedOnStyle: Microsoft
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
ColumnLimit : 1000
AlignAfterOpenBracket : AlwaysBreak
AllowShortFunctionsOnASingleLine : All